@import "../--mixing.scss";
@import "../--var.scss";
// Dashboard
.welcome_note_div {
  h3 {
    font-weight: 600;
    font-size: 28px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    color: #525252;
    margin-bottom: 1rem;
  }
}
.welcome_note_hr_div {
  hr {
    opacity: 1 !important;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.management_btn_full {
  text-transform: capitalize;
  background-color: $blue;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s;
  border: none;
  outline: none;
  svg {
    margin-bottom: 2px;
    margin-right: 5px;
    font-size: 18px;
  }
  &:hover {
    color: white;
    background-color: $blue;
    box-shadow: 0px 0px 12px rgba(81, 67, 239, 0.5);
  }
  a:focus,
  a:hover {
    color: white !important;
  }
}

.management_btn_full2 {
  a:focus,
  a:hover {
    color: white !important;
  }
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  background-color: $blue;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s;
  width: 100%;
  border: none;
  outline: none;
  &:hover {
    color: white;
    background-color: $blue;
    box-shadow: 0px 0px 12px rgba(81, 67, 239, 0.5);
  }
  svg {
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 3px;
  }
}
.management_btn_outline {
  text-transform: capitalize;
  background-color: transparent;
  color: $blue;
  font-weight: 500;
  font-size: 14px;
  padding: 9px 20px;
  width: 100%;
  border-radius: 6px;
  transition: all 0.3s;
  border: 1px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:hover {
    color: white;
    background-color: $blue;
    box-shadow: 0px 0px 12px rgba(81, 67, 239, 0.5);
  }
}
.management_btn_outline_with_icon {
  text-transform: capitalize;
  background-color: transparent;
  color: $blue;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 6px;
  transition: all 0.3s;
  border: 1px solid $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:hover {
    color: white;
    background-color: $blue;
    box-shadow: 0px 0px 12px rgba(81, 67, 239, 0.5);
  }
  svg {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 1px;
  }
}

.project_summary_title {
  h3 {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
  }
}
.project_summary_card_top_div {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}
.table-hover > tbody > tr:hover > * {
  .progress {
    background-color: white;
  }
}
.link_a {
  color: #626262;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: #1a7fdd;
  }
}
.project_summary_card {
  padding: 1rem;
  padding-top: 20px;
  border-radius: 8px;
  transition: all 0.3s;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    span {
      font-weight: 500;
      font-size: 24px;
      margin-right: 10px;
    }
  }
}
.project_summary_card_icon {
  @include bg_img;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 7px;
}
.project_summary_card_icon_dot {
  position: absolute;
  top: 6px;
  left: 65px;
  svg {
    font-size: 17px;
  }
}

.intput_box {
  border: 1px solid hsl(0, 0%, 80%) !important;
  background-color: white !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding: 8px 10px 8px 15px !important;
  border-radius: 6px !important;
}
.textareaBox_box {
  border: 1px solid #949494 !important;
  background-color: white !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding: 8px 10px 8px 15px !important;
  border-radius: 6px !important;
}
.all_page_my_label_new {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
  color: #252525;
  text-transform: capitalize;
  margin-left: 13px;
}
.Filters_Search_div {
  position: relative;
  svg {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 12px;
  }
  input {
    padding-left: 40px;
    border: none;
  }
}
.ClientProfile_normal_dot {
  color: #c9bdbd !important;
  background: black;
  border-radius: 100%;
}
.Client_Profile_main_top_div {
  position: relative;
  display: block;
}
.Appraisal_progress_bar_man {
  height: 5px;
}
//
.Client_Profile_main_top_div_inner {
  progress {
    border: none;
    background: #eb703b;
  }

  progress {
    color: #eb703b;
  }

  progress::-webkit-progress-value {
    background: #eb703b;
  }

  progress::-moz-progress-bar {
    background: #eb703b;
  }
}

//
.Appraisal_progress_text_bar_mann {
  svg {
    color: #eb703b !important;
  }
}
.Client_Profile_svg {
  svg {
    font-size: 25px !important;
    position: absolute;
    top: 2px;
    margin-left: -7px;
    background: white;
    border-radius: 100%;
  }
  label {
    margin-left: -36px;
    display: block;
    margin-top: 13px;
  }
}
.Client_Profile_svg_last {
  svg {
    margin-left: 0px !important;
  }
}
.Client_Profile_svg_last_text {
  margin-top: 13px;
  margin-bottom: 0;
  display: block;
  margin-left: -31px;
  position: absolute;
  width: 100%;
}
.Client_Profile_title {
  text-align: left;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  h3 {
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}
.Client_Profile_btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  .management_btn_full {
    margin-left: 1.5rem;
  }
}
.SelectBox_box {
  border: 1px solid hsl(0, 0%, 80%) !important;
  background-color: white !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding: 8px 10px 8px 15px !important;
  border-radius: 6px !important;
}
.drop_box {
  .css-1rhbuit-multiValue {
    background: #ffbb96;
    padding: 3px;
    font-weight: 500;
    font-size: 14px;
    color: #252525;
  }
  .css-1pahdxg-control {
    box-shadow: none !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
  }
  .css-1s2u09g-control {
    border: 1px solid #949494 !important;
    background-color: white !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
  }
  .css-9gakcf-option {
    background-color: #e0e0e0;
    color: #6c757d !important;
    border-bottom: 1px solid #8d8d8d;
  }
  .css-yt9ioa-option {
    border-bottom: 1px solid #8d8d8d;
  }
  .css-6j8wv5-Input {
    color: #6c757d !important;
  }
}
.select_client {
  .css-1pahdxg-control {
    box-shadow: none !important;
    padding-left: 10px !important;
    border-radius: 10px !important;
    max-width: 19rem !important;
    min-width: 19rem !important;
  }
  .css-1s2u09g-control {
    width: 20rem !important;
    border: 1px solid #949494 !important;
    background-color: white !important;
    padding-left: 10px !important;
    border-radius: 10px !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    max-width: 19rem !important;
    min-width: 19rem !important;
  }
  .css-9gakcf-option {
    background-color: #e0e0e0;
    color: #6c757d !important;
    border-bottom: 1px solid #8d8d8d;
  }
  .css-yt9ioa-option {
    border-bottom: 1px solid #8d8d8d;
  }
  .css-6j8wv5-Input {
    color: #6c757d !important;
  }
}
.Select_Services_row {
  justify-content: center;
  align-items: end;
  .management_btn_outline {
    padding: 7px 20px;
  }
}
.checkbox_label {
  font-size: 14px;
  font-weight: 400;
}
.Select_Services_row_new_inner {
  display: none;
}
.Benchmark_title_div {
  h3 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
}
.CreateBenchmark_brn {
  text-align: center;
  button {
    width: 15%;
  }
}
.SavedBenchmark_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  .management_btn_full2 {
    margin-left: 10px;
  }
  .management_btn_outline {
    margin-right: 10px;
  }
  button {
    width: 15%;
  }
}
.top_title_pipline_projects_div {
  .profil_emp_inter_page_title {
    margin: 0;
  }
}
.project_List_view_all_link {
  display: flex;
  justify-content: flex-end;
  a {
    font-weight: 500;
    font-size: 14px;
    color: #1a7fdd;
    text-decoration: underline !important;
  }
}
.project_list_title {
  th {
    font-weight: 600;
    font-size: 16px;
    color: #484848;
  }
}

.project_list_name_top_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  transition: all 0.3s;
  &:hover {
    background-color: #ececec;
  }
  .project_list_name {
    font-size: 12px;
    font-weight: 400;
    p {
      font-size: 10px;
    }
  }
}
.project_list_name_boder {
  border-left: 4px solid;
  padding-left: 8px;
}
.project_list_name {
  font-weight: 500;
  font-size: 14px;
  color: #626262;
  h3 {
    margin-bottom: 0;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    span {
      color: #a5a5a5;
      font-size: 15px;
    }
  }
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;
    color: #a5a5a5;
    span {
      color: black;
    }
  }
}
.project_list_priority {
  font-weight: 500;
  font-size: 12px;
  color: white;
  text-transform: capitalize;
}
.project_list_progress {
  width: 13rem;
  margin-top: -17px;
  span {
    font-weight: 600;
    font-size: 12px;
  }
  .progress {
    height: 8px;
    .progress-bar {
      background-color: #39c222;
    }
  }
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}
.project_list_progress_td {
  display: flex;
  position: relative;
}
.project_list_progress_td_link {
  position: absolute;
  top: 0;
  right: 0;
  a {
    font-weight: 500;
    font-size: 14px;
    color: #1a7fdd;
  }
}
.project_list_priority_div {
  width: 4rem;
  height: 25px;
  border-radius: 6px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_list_name_tr {
  td,
  tfoot,
  th,
  thead,
  tr {
    padding-bottom: 7.5px !important;
    padding-top: 16px !important;
  }
}
.today_meetings_btn_div {
  margin-top: -6px;
  .management_btn_outline {
    padding: 3px 4px;
  }
}
.user_logo_upload_main_div {
  position: relative;
  display: inline-block;
  label {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    bottom: -8px;
    right: -3px;
    border: 1px solid #ff8059;
    outline: none;
    background-color: white;
    width: 2rem;
    height: 2rem;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    svg {
      color: #ff8059;
    }
  }

  .project_details_card_img {
    @include bg_img;
    width: 10rem;
    height: 10rem;
    margin: auto;
    border-radius: 6px;
  }
}
.user_logo_upload_img {
  width: 110px !important;
  height: 110px !important;
}
.breff_label_add_project {
  font-weight: 500;
  font-size: 20px;
  color: black;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.user_logo_inner_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client_profile_uplod_btn_ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  li {
    p {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 14px;
      margin-right: 10px;
      span {
        svg {
          transform: rotate(317deg);
          margin-right: 5px;
        }
      }
    }
  }
}
.upload_document_btn {
  // background: #f5f7ff;
  span {
    svg {
      font-size: 17px;
      margin-left: 12px;
    }
  }
}
.project_leads {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
  margin-left: 13px;
}
.add_project_modal_btn_one {
  margin-right: 12px;
  margin-top: 4px;
  .management_btn_outline {
    height: 37px;
  }
}
.add_project_modal_title {
  text-transform: capitalize;
  text-align: center;
  h3 {
    font-weight: 600;
    font-size: 24px;
  }
}
.add_project_modal_tadio_btn_div {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.ExistingClientShow {
  display: block;
}
.ExistingClientHide {
  display: none;
}
.project_list_tabs_inner_div {
  position: relative;
}
.project_list_tabs_inner_btn {
  position: absolute;
  top: 0;
  right: 0;

  .management_btn_outline_with_icon {
    border: none;
    background-color: white;
    color: black;
  }
}
.Dashboard_menu_right {
  position: absolute;
  top: 0;
  right: 10px;
  .chat_div_dropdown .rs-dropdown-toggle,
  .chat_div_dropdown .rs-dropdown-toggle.rs-btn {
    svg {
      font-size: 30px;
    }
  }
}
.Dashboard_menu_right_innwr {
  .rs-dropdown .rs-dropdown-menu {
    width: 15rem;
  }
  .css-ars20s-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #219b0d;
  }
  label {
    padding: 8px 12px;
    span {
      font-size: 13px;
      font-weight: 600 !important;
      padding-left: 10px;
    }
  }
}
.Dashboard_menu_right_innwr_item {
  position: relative;
  padding: 0 !important;
  .MuiSwitch-root {
    position: absolute;
    top: 5px;
    right: 8px;
  }
}
.project_list_tabs_main_div {
  position: relative;
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: black;
    background-color: #cdd4ff;
  }
  .css-1pahdxg-control {
    min-height: 42px;
  }

  .nav-pills .nav-link {
    background: white;
    margin-right: 9px;
    color: black;
    cursor: pointer;
    text-transform: capitalize;
  }
}
.page_All_top_title {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  h3 {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: black;
    span {
      svg {
        cursor: pointer;
        font-size: 20px;
        color: black;
        margin-right: 11px;
        margin-bottom: 2px;
      }
    }
  }
}
.progress_all_tabel {
  span {
    font-weight: 600;
    font-size: 12px;
  }
  .progress {
    height: 8px;
    .progress-bar {
      background-color: #39c222;
    }
  }
}
.progress_all_tabel_td {
  width: 15rem;
}
.progress_all_tabel_tr {
  background-color: #0a0e30;
  color: white;
  th {
    font-weight: 600;
    font-size: 12px;
  }
}
.progress_all_tabel_tr_mor {
  td {
    font-weight: 600;
    font-size: 12px;
  }
}
.progress_all_option_icon {
  svg {
    font-size: 20px;
  }
}
.chat_option_name_div {
  font-size: 12px;
  font-weight: 500;
}
.projec_tabelt_list_pagination_div {
  ul {
    justify-content: flex-end;
  }
}
.milestones_emp {
  button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #1a7fdd;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.3s;
    &:hover {
      color: #2a7ecc;
    }
    span {
      margin-right: 5px;
      svg {
        font-size: 19px;
        margin-bottom: 3px;
      }
    }
  }
}
.create_task_title {
  text-align: center;
  h3 {
    font-weight: 500;
    font-size: 24px;
    color: black;
    text-transform: capitalize;
  }
}
.Participants_main_div {
  .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    height: 24px;
    width: 24px;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }

  .css-7g00h4-MuiAvatar-root {
    position: unset;
  }
}

.Participants_main_div_inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  .MuiAvatar-circular {
    width: 25px;
    height: 25px;
    position: unset;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }
}
.Participants_main_div_tr {
  margin-top: 5px;
}
.Participants_main_div_tr_btn {
  .management_btn_outline {
    padding: 4px 4px;
  }
}
.notes_card_top_div {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  h3 {
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0;
    span {
      font-weight: 400;
      font-size: 14px;
      color: #666;
    }
  }
  p {
    color: #666;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
  }
  h5 {
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      color: black;
      margin: auto;
      font-size: 15px;
      span {
        margin-right: 5px;
        svg {
          font-size: 20px;
          font-size: 16px;
          margin-bottom: 4px;
          color: #979797;
        }
      }
    }
  }
}
.notes_card_img {
  @include bg_img;
  width: 4rem;
  height: 4rem;
  margin: auto;
}
.notes_card_img_div {
  padding: 3rem 1rem;
}
.notes_card_top_opsiton {
  position: absolute;
  top: 4px;
  right: 7px;
  svg {
    font-size: 30px;
    color: #3786ee;
  }
}
.nav_img {
  width: 18px;
}

.project_details_card_name {
  margin-bottom: 3.4rem;
  h3 {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #3786ee;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
  }
}
.project_details_card_box_inner {
  p {
    color: #ff3e48;
  }
}
.project_details_card_box {
  border: 1px solid #808080;
  display: inline-block;
  display: inline-block;
  padding: 7px 13px;
  border-radius: 3px;
  width: 7rem;
  text-align: center;
  margin-right: 10px;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 13px;
  }
  span {
    color: #949494;
    font-weight: 500;
    font-size: 12px;
  }
}
.project_details_card_box_main_div {
  display: flex;
  align-items: center;
}
.circular_static_div {
  .css-1l6rwmg-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
    background-color: #eeeeee;
  }
  span {
    width: 7rem !important;
    height: 7rem !important;
    transform: rotate(268deg) !important;
    position: relative;
    z-index: 1;
    color: #3786ee !important;
    background: aliceblue;
    border-radius: 100%;
  }
  .css-ol7wxs-MuiTypography-root {
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    background: white;
    width: 84%;
    height: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    border-radius: 100%;
  }
}
.circular_static_div_text {
  margin: 0 20px;
  text-transform: capitalize;
  h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
  }
  p {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
  }
}
.dashbaord_white_card_new {
  padding: 2rem 1rem 2rem 2rem;
  position: relative;
}
.ProjectDetailsCard_img {
  width: 10rem;
  height: 10rem;
  @include bg_img;
  border-radius: 3px;
}
.circular_static_div_main_div {
  display: flex;
}
.progress_all_tabel_tr2 {
  background-color: white;
  color: #484848;
}
.team_work_progress_tabel_img {
  display: flex;
  align-items: center;
  span {
    margin-left: 5px;
  }
}
.team_work_progress_tabel_btn {
  position: relative;
  a {
    position: absolute;
    font-size: 10px;
    padding: 5px 0;
    top: -2px;
    width: 80px;
  }
}
.team_work_progress {
  display: inline-table;
  overflow-x: auto;
  white-space: nowrap;
}
.project_details_bar_div {
  position: relative;
  width: 15rem;
  .progress {
    height: 8px;
    .progress-bar {
      background-color: #39c222;
    }
  }
}
.project_details_status_text {
  color: #e74c3c;
}
.overview_basic_details_div {
  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    li {
      font-weight: 600;
      font-size: 14px;
      span {
        margin-left: 1px;
      }
      label {
        top: 0;
        position: absolute;
        right: 15px;
      }
      p {
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 0;
        color: #808080;
        margin-left: 10px;
      }
    }
  }
}
.overview_basic_details_inner_div {
  width: 9rem;
}
.all_edit_icon {
  position: relative;
  .all_edit_icon_inner {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ff8059;
    border-radius: 100%;
    font-size: 15px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    svg {
      color: #ff8059;
    }
  }
}
.brief_summery_div {
  text-transform: capitalize;
  margin-top: 1rem;
  h3 {
    font-weight: 600;
    font-size: 16px;
  }
  p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    letter-spacing: 0.06em;
  }
}

//
.Attachments_top_div {
  text-align: center;
  position: relative;
  transition: all 0.3s;
  border-radius: 3px;
  p {
    text-transform: capitalize;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 12px;
    padding: 3px;
    background-color: #eee7e7;
    font-weight: 600;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &:hover {
    .Attachments_top_div_inner_top {
      display: block;
      transition: all 0.3s;
    }
  }
}
.Attachments_top_div_cut {
  background: white;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-top: 2px;
  }
}
.Attachments_top_div_inner_top {
  transition: all 0.3s;
  display: none;
}
.Attachments_top_div_inner {
  transition: all 0.3s;
  position: absolute;
  background: #00000073;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    background-color: #eee7e7;
    color: black;
    padding: 1px 8px;
    border-radius: 3px;
  }
}
.delete_modal {
  ul {
    margin: 0;
    display: flex;
    text-transform: capitalize;
    li {
      svg {
        font-size: 30px;
        margin-right: 1rem;
      }
    }
    p {
      margin-bottom: 0;
      font-weight: 500;
      font-size: 14px;
    }
    h3 {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
.delete_modal_btn_div {
  ul {
    margin: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    .btn_one {
      margin-right: 10px;
    }
    .btn_two {
      margin-left: 10px;
    }
  }
}
//
.doc_img {
  @include bg_img;
  background-position: top !important;
  width: 100%;
  height: 3rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.service_overview_details {
  text-transform: capitalize;
  h3 {
    font-weight: 500;
    font-size: 14px;
  }
  h4 {
    font-weight: 500;
    font-size: 12px;
    color: #626262;
  }
  h5 {
    font-weight: 600;
    font-size: 12px;
    color: #2ba317;
  }
  p {
    margin-bottom: 0;
    color: #252525;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
  }
}
.service_overview_details_div {
  .progress {
    height: 13px;
    .progress-bar {
      background-color: #23db62;
    }
  }
}
.Client_Profile_main_top_div_new {
  margin: 0 10rem;
}
.Client_Profile_svg_new {
  margin-left: -69px !important;
}
.Client_Profile_svg_new_new {
  svg {
    margin-left: -45px !important;
  }
}
.text_btn {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
.drop_box2 {
  .css-1s2u09g-control {
    height: 64px;
  }
  .css-1pahdxg-control:hover {
    height: 64px;
  }
  .css-1rhbuit-multiValue {
    padding: 8px;
  }
  .css-1pahdxg-control {
    height: 64px;
  }
  .css-1s2u09g-control {
    height: 64px;
  }
  .css-9gakcf-option {
    height: 64px;
  }
  // .css-yt9ioa-option {
  //   height: 64px;
  // }
  // .css-6j8wv5-Input {
  //   height: 64px;
  // }
}
.inner_mr {
  margin: 0 5rem;
}
.demo {
  position: relative;
  z-index: 1;
}
.avatar_inner {
  width: 2.5rem;
  height: 2.5rem;
  @include bg_img;
  border-radius: 100%;
  border: 1.5px solid white;
}
.avatar_inner_div_over {
  margin-left: -10px;
}
.avatar_inner_div {
  display: flex;
}
.avatar_inner_plus {
  background-color: #e3e6e8;
  border: 1.5px solid white;
  font-weight: 600;
  font-size: 12px;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Dashboard end
// chat
.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0px 13px;
}

.dot-flashing {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -9px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 9px;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: green;
  }
  50%,
  100% {
    background-color: rgb(149, 138, 138);
  }
}

.chat_div {
  // background-color: #f4f7fb;
  width: 100%;
  // height: 100%;
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    .chat_list_mess_number {
      color: white;
      background-color: rgba(246, 246, 249, 0.25);
    }
    .chat_list_name_div {
      .chat_status_div_new {
        .chat_label_status {
          font-size: 10px;
          color: #666;
        }
      }
      p {
        color: white;
      }
    }
    .chat_list_time {
      p {
        color: #666;
        text-transform: uppercase;
      }
    }
    background-color: #4eac6d;
  }
  .nav-link {
    padding-left: 10px;
    border-radius: 0;
    transition: all 0.3s;
    border-bottom: 1px solid #f1e9e9 !important;
    &:hover {
      background-color: #e9ecef;
    }
  }
}
.chat_list_time {
  p {
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: -7px;
    font-size: 11px;
  }
}
.chat_list_mess_number {
  position: absolute;
  display: flex;
  background-color: rgba(52, 58, 64, 0.18);
  width: 20px;
  border-radius: 6px;
  height: 20px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  bottom: 3px;
  right: 0;
  color: #343a40;
  font-weight: 500;
}
.chat_search_div {
  position: relative;
  span {
    position: absolute;
    top: 6px;
    left: 8px;
    svg {
      font-size: 20px;
      color: #7b7b7b;
    }
  }
  input {
    width: 100%;
    padding: 7px;
    margin-bottom: 1rem;
    border-radius: 18px;
    border: none;
    padding-left: 33px;
    color: #7b7b7b;
    &::placeholder {
      text-transform: capitalize;
      color: #7b7b7b;
    }
  }
}
.chat_list_top_div {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
  height: 40.7rem;
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.chat_list_div {
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    align-items: center;
  }
}
.chat_list_img {
  @include bg_img;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
.chat_list_name_div {
  margin-left: 10px;
  p {
    margin-bottom: 0;
    color: black;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
  }
}
.chat_status_div {
  display: flex;
  align-items: baseline;
  h3 {
    font-size: 10px;
    text-transform: capitalize;
    color: #666;
    margin-bottom: 0;
    margin-top: 2px;
  }
}
.chat_label_div {
  background: #dde2ff;
  padding: 1rem;
  border-radius: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.chat_mes_main_div {
  background-color: #e7ebef;

  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;

  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  height: 35.7rem;
  position: relative;
  // background-image: url("../../pics/chat.png");
  @include bg_img;
  // height: 100%;
  width: 100%;
  background-position: top !important;
}
.chat_label_text_div {
  font-size: 18px;
  margin-bottom: 0;
  text-transform: capitalize;
  margin-bottom: 1px;
  margin-top: 2px;
}
.chat_label_status {
  margin-bottom: 0;
  color: #666;
  font-size: 10px;
  span {
    text-transform: capitalize;
    margin-right: 5px;
  }
  label {
    margin-left: 3px;
    text-transform: uppercase;
  }
}
.chat_status_div_new {
  .chat_label_status {
    font-size: 10px;
    color: #666;
    margin-top: 0;
  }
}
.chat_mes_main_div_input_box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #dde2ff;

  padding: 1.5rem;
  width: 100%;
  border-bottom-right-radius: 10px;
}
.chat_mes_input_div {
  display: flex;
  align-items: center;
  .chat_Input_main_div {
    margin-left: 3.3rem;
  }
}
.chating_div {
  overflow: scroll;
  height: 30rem;
  padding-top: 1.5rem;
}
.chat_Input_main_div {
  // textarea {
  //   // height: auto !important;
  //   // overflow: scroll !important;
  //   // min-height: 30px !important;
  // }
  .MuiInputBase-root {
    padding: 10px 10px 10px 10px;
    border: 1px solid #e0d8d8;
    max-height: 97px;
    overflow: scroll;
    border-radius: 8px;
    background-color: white;
    // font-size: 15px;
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
}
.chat_pules_btn {
  button {
    width: 35px;
    height: 35px;

    box-shadow: none;
    svg {
      width: 26px;
      height: 26px;
    }
  }
  .MuiSpeedDialIcon-root {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.chat_send_btn {
  button {
    outline: none;
    border: none;
    background: none;
  }
  svg {
    font-size: 23px;
    margin-left: 1rem;
    cursor: pointer;
  }
}
.left_chat_time {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 5px;
}
.left_chat_div {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0px;
    }
    .li_left_chat_div {
      background-color: #e8ffe9;
      display: inline-block;
      padding: 10px;
      border-radius: 6px;
      position: relative;
      transition: all 0.3s;
      margin-top: 10px;
      &:hover {
        .option_chat {
          display: block;
        }
      }
      .option_chat {
        padding: 1px 5px;
        background-color: white;
        border-radius: 3px;
        .option_chat_inner_new {
          display: flex;
          align-items: center;
          .option_chat_inner__nner {
            margin-right: 7px;
            margin-bottom: 0;
            margin-top: 0;
            cursor: pointer;
            .line {
              width: 2px;
              height: 17px;
              background: #d6c5c5;
              position: absolute;
              top: 3px;
              right: -4px;
            }
          }
        }
        position: absolute;
        top: -16px;
        right: -96px;
        display: block;

        button {
          svg {
            width: 17px;
            height: 17px;
            margin-bottom: 3px;
            color: #d6c5c5;
            &:hover {
              color: #1a7fdd;
            }
          }
        }
      }
    }
  }
}
.left_chat_user {
  margin-right: 10px;
}
.left_chat_div_inner {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  max-width: 26rem;
  text-align: justify;
}
.chat_option {
  .MuiButtonBase-root {
    font-size: 12px;
  }
}
.MuiMenuItem-root {
  font-size: 12px !important;
  text-transform: capitalize;
}
.chat_option_name_div {
  width: 100%;
  position: relative;
  .icon {
    position: absolute;
    top: -6px;
    right: 0;
    font-size: 18px;
  }
}
.right_chat_div {
  position: relative;
  .right_chat_div {
    background-color: #cee1d4;
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    margin-top: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
  .right_chat_user {
    margin-left: 10px;
  }
  .right_chat_div_inner {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    max-width: 26rem;
    text-align: justify;
    &:hover {
      .option_chat {
        display: block;
      }
    }
  }

  .option_chat {
    padding: 1px 5px;
    background-color: white;
    border-radius: 3px;
    .option_chat_inner_new {
      display: flex;
      align-items: center;
      .option_chat_inner__nner {
        margin-left: 7px;
        margin-bottom: 0;
        margin-top: 0;
        cursor: pointer;
        .line {
          width: 2px;
          height: 17px;
          background: #d6c5c5;
          position: absolute;
          top: 3px;
          left: -3px;
        }
      }
    }
    position: absolute;
    top: -16px;
    left: -96px;
    button {
      svg {
        width: 17px;
        height: 17px;
        margin-bottom: 2px;
        margin-bottom: 3px;
        color: #d6c5c5;
        &:hover {
          color: #1a7fdd;
        }
      }
    }
  }
  .col_div_inner {
    display: flex;
    justify-content: flex-end;
  }
}
.chat_inner_img_shar {
  @include bg_img;
  height: 8rem;
  width: 8rem;
  border-radius: 6px;
}
.chat_inner_img_shar_right_li {
  margin-left: 10px;
}
.p1 {
  padding-right: 0 !important;
}
.p2 {
  padding-left: 0 !important;
}
.chat_sub_menu {
  margin-bottom: 0;
  border-top: 1px solid;
  background: #eee6e6;
  padding: 7px 17px;
}
.chat_div_dropdown {
  .rs-dropdown-item.rs-dropdown-item-submenu .rs-dropdown-item-toggle {
    padding: 4px 27px 4px 12px;
  }
  .rs-dropdown-item-submenu.rs-dropdown-item
    > .rs-dropdown-item-toggle
    .rs-dropdown-menu-toggle-icon {
    top: 8px;
  }
  .rs-dropdown-item {
    justify-content: flex-start !important;
    color: black !important;
    padding: 5px 12px;
  }
  .rs-dropdown-item-submenu.rs-dropdown-item > .rs-dropdown-menu {
    position: absolute;
    top: 0%;
  }

  .rs-dropdown-toggle,
  .rs-dropdown-toggle.rs-btn {
    padding: 0;
    background-color: transparent;
  }
  .rs-dropdown-toggle-caret {
    display: none;
  }
}
.chat_div_dropdown_right {
  .rs-dropdown-item-submenu .rs-dropdown-menu {
    left: -99%;
  }
}
.chat_div_dropdown_inner {
  width: 9rem;
  position: relative;
  font-size: 13px;
  font-weight: 600 !important;
  span {
    position: absolute;
    top: 5px;
    right: 10px;
    svg {
      font-size: 18px;
    }
  }
}
.mes_reax {
  background-color: white;
  position: absolute;
  padding: 1px 5px;
  font-size: 12px;
  border-radius: 25px;
  bottom: -12px;
  right: -10px;
  span {
    font-weight: 600;
    margin-left: 5px;
  }
}
.mes_reax2 {
  left: -10px;
  background-color: white;
  position: absolute;
  padding: 1px 5px;
  font-size: 12px;
  border-radius: 25px;
  bottom: -12px;
  span {
    font-weight: 600;
    margin-left: 5px;
  }
}
// chat end
// Projects
.Progress_title_details {
  text-align: end;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 12px;
}
.Progress_title_details_midel {
  color: #eb703b;
}
.Progress_title_details_top {
  margin-top: -11px;
}

.Progress_title_details_white {
  height: 20.3rem;
  position: relative;
  padding: 20px;
  padding-left: 30px;
}
.drag_img {
  position: absolute;
  top: 21px;
  left: 8px;
  width: 22px;
  cursor: pointer;
}
.team_status_title {
  text-align: center;
  h3 {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.team_status_inner_title {
  margin-bottom: 0;
  display: flex;
  li {
    margin: auto;
    font-weight: 500;
    font-size: 12px;
  }
}
.team_status_inner_title2 {
  margin-bottom: 0;
  display: flex;
  li {
    margin: auto;
    font-weight: 700;
    font-size: 14px;
    margin-right: 45px;
  }
}
.team_status_inner_color {
  color: #f02934;
}

.team_status_uper_div {
  display: flex;
  align-items: center;
}
.weekly_digest_title {
  position: relative;
  img {
    position: absolute;
    top: 13px;
    left: 12.3rem;
    z-index: 1;
  }
  .form-select:focus {
    box-shadow: unset;
  }
  select {
    border: none;
    position: absolute;
    top: 6px;
    width: 4rem;
    font-size: 12px;
    font-weight: 500;
    left: 146px;
    padding: 0;
    background-image: none;
    color: #1a7fdd !important;
  }
  h3 {
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
    color: #525252;
  }
}
.custom_dropdown_last {
  .rs-dropdown {
    width: 100%;
    height: 100%;
    button {
      width: 100%;
      height: 100%;
      font-size: 12px;
      font-weight: 600;
      color: black;
      text-align: left;
      padding-left: 10px !important;
      margin-top: -6px;
      transition: all 0.3s;
      border-radius: 0;
      padding-bottom: 5px !important;
      padding-top: 5px !important;
      margin-top: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      &:hover {
        background-color: #e5f3ff;
      }
    }
  }
}
.custom_dropdown_inner {
  span {
    float: right;
    padding-right: 10px;
    svg {
      font-size: 18px !important;
    }
  }
}
.project_tab_mb {
  margin-bottom: 1.5rem;
}
.header_my {
  margin-bottom: 1.5rem;
  align-items: center;
  .page_All_top_title {
    margin-bottom: 0;
    h3 {
      margin-bottom: 0;
    }
  }
  .header_btn {
    text-align: end;
    .management_btn_full2 {
      width: 35%;
    }
  }
}
.header_input_div {
  position: relative;
  input {
    color: #949494;
    border: none;
    font-weight: 400;
    font-size: 14px;
    padding-right: 34px;
  }
  svg {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 18px;
    color: #949494;
    cursor: pointer;
  }
}
// Projects end
// Tasks
.view_change_label {
  display: flex;
  align-items: center;
  span {
    margin-left: 5px;
  }
}
.view_change_main_div {
  position: absolute;
  top: 0;
  right: 136px;
  .css-b62m3t-container {
    outline: none;
  }
  .css-1s2u09g-control {
    border: none;
    box-shadow: none;
    min-height: 42px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 0px 12px rgb(81 67 239 / 50%);
    }
  }
  .css-1pahdxg-control {
    border: none;
    box-shadow: none;
  }
  .css-1okebmr-indicatorSeparator {
    display: none;
  }
  // .css-319lph-ValueContainer {
  //   padding-right: 0;
  // }
  .css-tlfecz-indicatorContainer {
    padding-left: 0;
  }
  .css-1gtu0rj-indicatorContainer {
    padding-left: 0;
  }
}
.classic_view_outer {
  .accordion-button {
    // padding: 0;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
    background-color: transparent;
    color: black;
    padding: 10px;
    &:focus {
      box-shadow: none;
    }
  }
  .accordion-item {
    background-color: #f0eaea;
    border: none;
  }
  .accordion-button:not(.collapsed) {
    color: #1a7fdd;
    background-color: transparent;
    box-shadow: none;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../../pics/Management/outer.png);
    transform: rotate(-180deg);
    @include bg_img;
    background-size: auto;
  }
  .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../../pics/Management/outer.png);
    @include bg_img;
    background-size: auto;
    transition: transform 0.2s ease-in-out;
  }

  .classic_view_outer_body {
    padding: 10px;
    .accordion-button {
      // padding: 0;
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      color: #818181;
      span {
        padding-left: 25px;
      }
    }
    .accordion-button:not(.collapsed) {
      color: #ff3e48;
    }
    .accordion-item {
      bottom: 0;
      background-color: transparent;
    }
    .accordion-button::after {
      background-image: url(../../pics/Management/Vector2.png);
      @include bg_img;
      background-size: auto;
      position: absolute;
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url(../../pics/Management/Vector2.png);
    }
  }
}
.classic_view_tabel_heder {
  button {
    padding: 0 !important;
  }
}
.classic_view_inner_header {
  button {
    padding-top: 0 !important;
  }
}
.classic_view_inner_body {
  padding: 0px 15px 15px 15px !important;
}
.classic_view_tabel_body {
  padding: 8px 5px 8px 5px !important;
}
// Tasks end
// View All Tasks
.view_all_tasks_btn {
  .view_change_main_div {
    position: unset;
    .view_change_label {
      span {
        display: block !important;
      }
    }
  }
}
.view_all_tasks_title_div {
  display: flex;
  align-items: baseline;
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
  }
  a {
    font-weight: 500;
    font-size: 14px;
    color: #1a7fdd;
    text-decoration: underline !important;
    margin-left: 10px;
  }
}
.back_btn_mb {
  .page_All_top_title {
    margin-bottom: 10px;
  }
}
.inner_taska_div_main {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}
.inner_taska_title_div_main {
  position: relative;
  h3 {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
  }
}
.inner_taska_title_btn_div_main {
  position: absolute;
  top: 0;
  right: 0;
  .management_btn_full {
    font-weight: 600;
    font-size: 10px;
    padding: 5px 6px;
    border-radius: 3px;
  }
}
.open_tasks_card {
  background-color: #eae3ff;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  min-height: 7rem;
  h3 {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
  }
  .row {
    margin-top: 2rem;
  }
  .project_list_priority_div {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.open_tasks_img_div {
  position: absolute;
  bottom: 10px;
  left: 8px;
  .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    height: 25px;
    width: 25px;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }
  .MuiAvatar-circular {
    width: 25px;
    height: 25px;
    position: unset;
  }
  .css-1xs323g-MuiAvatar-root {
    position: unset;
  }
}
.open_tasks_card2 {
  background-color: #e7ffe3;
}
// View All Tasks end
// Meetings
.filter_btn_top_div {
  display: flex;
  justify-content: flex-end;
  .management_btn_outline_with_icon {
    width: 12%;
    background-color: white;
    border: none;
    color: black;
  }
}
.notes_list_img_div {
  margin-left: 5px;
  p {
    margin: 0;
    font-weight: 400;
  }
}
.notes_warning {
  position: absolute;
  right: 13%;
}
.filter_btn_top_new {
  .management_btn_outline_with_icon {
    background-color: white;
    border: none;
    color: black;
  }
}
// Meetings end
// Approvals
.Participants_main_div_Approvals {
  .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    display: flex;
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin-left: 0px !important;
    justify-content: center;
    align-items: center;
    color: #626262;
    background: #c4c4c4;
  }
}
// Approvals end
// clint profile card
.clint_profile_card_text {
  text-transform: capitalize;
  margin-bottom: 1rem;
  p {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
  }
  h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    color: #3786ee;
  }
}
.clint_profile_card_poits {
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
  }
  span {
    svg {
      margin-right: 5px;
      font-size: 17px;
    }
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}
.Project_list_card {
  position: relative;
  background-color: #e7ffe3;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  .user_logo_upload_main_div {
    label {
      display: none;
    }
  }
}
.Project_list_card_img {
  width: 4rem;
  height: 4rem;
  border-radius: 6px;
  @include bg_img;
}
.Project_list_card_img_div {
  text-align: center;
  position: relative;
  top: -40px;
  p {
    margin-bottom: 0;
    text-transform: capitalize;
    color: #eb703b;
    font-weight: 600;
    font-size: 12px;
  }
}
.Project_list_card_time {
  background: #fcdbff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5px 8px;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  border-radius: 3px;
  right: 1rem;
  top: 1rem;
  span {
    svg {
      font-size: 18px;
      margin-right: 3px;
    }
  }
}
.Project_list_card_title {
  text-align: left;
  h3 {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
  }
}
.Project_list_card_inner_img {
  .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    height: 35px;
    width: 35px;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }
  .MuiAvatar-circular {
    width: 35px;
    height: 35px;
    position: unset;
  }
  .css-1xs323g-MuiAvatar-root {
    position: unset;
  }
}

.Project_list_card_inner_img_div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Project_list_card_inner_img_top_div {
  margin-top: -50px;
}
.Project_list_card_inner_card_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Project_list_card_progress {
  .progress {
    height: 25px;
    background-color: #ffffff;
  }
  .progress-bar {
    background-color: #23db62;
  }
  p {
    font-weight: 700;
    font-size: 16px;
    color: #252525;
    text-align: center;
    margin-bottom: 5px;
  }
}
.client_tasks_div {
  position: relative;
}

// clint profile card end
// scroll all
.project_list_scroll {
  margin-top: 1rem;
  min-height: auto;
  max-height: 50rem;
  overflow: scroll;
}
.clints_list_scroll {
  overflow: scroll;
  max-height: 63.4rem;
  min-height: auto;
  margin-top: 1rem;
}
.dashbaord_scroll_new {
  overflow: scroll;
  height: 18rem;
}
.dashbaord_scroll {
  max-height: 22.3rem;

  // min-height: auto;
  margin-top: 1rem;
}
.dashbaord_scroll_cla {
  height: 22.3rem;
  margin-top: 1rem;
}
// scroll all end
.documents_app_btn {
  svg {
    margin-left: 5px;
  }
}
// user card list
.user_card_div {
  width: 25rem;
  min-height: auto;
  max-height: 15rem;
  padding: 1rem;
  background-color: #e3e6e8;
  overflow: scroll;
}
.user_card_div_inner {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #d5c9c9;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #ffffff;
  .MuiAvatar-circular {
    width: 35px !important;
    height: 35px !important;
  }
  p {
    margin-bottom: 0;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
  }
  h6 {
    margin: 0;
    text-transform: capitalize;
    position: absolute;
    right: 10px;
    color: #969696;
    font-size: 11px;
  }
}
.user_card_div_title {
  border-bottom: 1px solid #ddc8c8;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 10px;
  background-color: #e3e6e8;
  h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
  }
}
.card_user_img {
  .Participants_icon {
    right: -13px;
  }
  .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
    height: 35px;
    width: 35px;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }
  .MuiAvatar-circular {
    width: 35px;
    height: 35px;
    position: unset;
  }
  .css-1xs323g-MuiAvatar-root {
    position: unset;
  }
}
.Participants_icon {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: 8px;
  display: none;
}
.Participants_icon_div {
  position: relative;
  &:hover {
    .Participants_icon {
      display: block;
    }
  }
}
.all_user_page {
  margin-bottom: 1.5rem;
  width: 10rem;
}
// user card list end
// filter new
.filter_new_top_div {
  padding: 1rem;
}
.filter_new_top_div_inner {
  width: 23rem;
  .accordion-button::after {
    transform: rotate(270deg);
  }
  .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
  }
  button {
    font-weight: 600 !important;
    font-size: 15px !important;
    border: none !important;
    outline: none !important;
    text-transform: capitalize;
  }
  .accordion-item {
    border: none;
    background-color: #ecf6ff;
  }
  .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
    color: black;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .header_input_div {
    margin-bottom: 15px;
    margin-top: 15px;
    input {
      border: 1px solid #c4c4c4;
    }
  }
}
.Priority_filter_inner {
  background: black;
  display: inline-block;
  color: white;
  padding: 5px 18px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  text-transform: capitalize;
  width: 5rem;
  text-align: center;
}
.Requested_by_div {
  img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
  }
}
.filter_title_1 {
  font-weight: 500;
  font-size: 16px;
  color: #252525;
  text-transform: capitalize;
  margin-bottom: 0;
}
.filter_title_2 {
  font-weight: 500;
  font-size: 16px;
  color: #1a7fdd;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 0;
}
// filter new end
// create poll modal
.create_poll_modal_icon {
  cursor: pointer;
  font-size: 20px;
  margin-top: -5px;
}
.create_poll_modal_input {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #8d8d8d !important;
  border-radius: 0 !important;
}
.create_poll_modal_input_data {
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  padding: 7px 10px;
  border-radius: 10px !important;
  width: 90% !important;
}
.create_poll_modal_input_data_div {
  margin-top: 17px;
  display: flex;
  align-items: center;
  label {
    transform-origin: top !important;
  }
  span {
    margin-left: 10px;
    svg {
      font-size: 20px;
      cursor: pointer;
      color: #252525;
      transition: all 0.3s;
      &:hover {
        color: #1976d2;
      }
    }
  }
}
.create_poll_modal_input_btn {
  color: #1a7fdd !important;
  padding-left: 0 !important;
  margin-top: 1rem;
  text-transform: capitalize;
  span {
    svg {
      font-size: 18px;
      margin-top: -3px;
      margin-right: 5px;
    }
  }
}
.create_poll_modal_top_div {
  border-right: 1px solid #d9d9d9;
  padding-right: 30px !important;
  h3 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
}
.create_poll_modal_main_div {
  position: relative;
}
.create_poll_modal_close_icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 23px;
}
.create_poll_modal_preview_title {
  padding-top: 18px;
  padding-left: 10px;
  h5 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
}
.create_poll_modal_preview_box_div {
  border: 1px solid #949494;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  p {
    font-weight: 500;
    font-size: 12px;
    border-bottom: 1px solid #dde2ff;
    padding-bottom: 5px;
    text-transform: capitalize;
    margin-bottom: 7px;
  }
  span {
    position: absolute;
    top: 10px;
    right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    color: #949494;
  }
  h3 {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
  }
}
.create_poll_modal_preview_box_inner_div {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  color: #626262;
  margin-top: 6px;
  svg {
    font-size: 20px;
    margin-right: 5px;
  }
}
.icon_color_div2 {
  svg {
    color: #ffb46f !important;
    font-size: 21px !important;
  }
}
.create_poll_modal_preview_box_btn {
  text-align: center;
  margin-top: 15px;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #0f62fe;
    border: 1px solid #0f62fe;
    display: inline-block;
    padding: 5px 15px !important;
    border-radius: 6px;
    text-align: center;
    padding: 0;
  }
}
.create_poll_modal {
  width: 50%;
}
.create_poll_modal_send_btn {
  text-align: center;
  margin-top: 1.5rem;
  button {
    background-color: #0f62fe !important;
    color: white !important;
    img {
      margin-left: 5px;
      width: 16px;
      height: 16px;
    }
  }
}
.poll_settings_div {
  p {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    svg {
      font-size: 20px;
      margin-right: 5px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 1.5rem;
  }
}
.poll_settings_div_list {
  position: relative;
  margin-top: 15px;
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 18px;
    color: #696969;
  }
  .form-select:focus {
    border-color: transparent !important;
    box-shadow: none !important;
  }
  select {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    border: 0;
    color: #0f62fe;
    font-size: 16px;
    font-weight: 500;
    background-image: url("../../pics/Management/down2.svg");
    background-size: 13px 10px;
  }
}
.poll_settings_btn_div {
  margin-top: 2rem;
  text-align: end;
  .management_btn_full2 {
    width: auto;
  }
}

// create poll modal end
// Task Right Drawer Ui
.task_right_drawer_ui_main_div {
  width: 50rem;
}
.task_right_drawer_ui_header_div {
  position: relative;
  background-color: #f4f4f4;
  padding: 1rem;
  .close_svg {
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 18px;
  }
  a {
    color: black;
    font-size: 21px;
    margin-right: 12px;
  }
  .menu_svg {
    font-size: 22px;
    cursor: pointer;
  }
}
.task_right_drawer_ui_inner_div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.team_members_ui_modal {
  width: 400px;
}
.team_members_ui_modal_title {
  padding: 1rem;
  position: relative;
  h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
  }
  svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 20px;
    cursor: pointer;
  }
}
.team_members_data_ui_div {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  img {
    @include bg_img;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
    width: 35px;
    height: 35px;
  }
  span {
    position: absolute;
    right: 0;
    top: auto;
    font-size: 14px;
    color: #3786ee;
    cursor: pointer;
  }
}
.team_members_ui_modal_body {
  padding: 1rem;
  padding-top: 0;
}
.team_members_data_ui_div_scorll {
  overflow: scroll;
  max-height: 27rem;
  min-height: auto;
}
.task_right_drawer_ui_body_div {
  padding: 1rem;
}
.task_right_drawer_ui_body_nav_div {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
  }
  span {
    margin: 0 2px;
    svg {
      margin-bottom: 2px;
      font-size: 18px;
    }
  }
}
.task_right_drawer_ui_body_project_title {
  margin-top: 1.5rem;
  position: relative;
  p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: #252525;
    max-width: 25rem;
    min-width: auto;
  }
}
.task_right_drawer_ui_body_user {
  position: absolute;
  top: 0;
  right: 0;
  .MuiAvatar-circular {
    width: 25px;
    height: 25px;
    position: unset;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }
  .MuiAvatar-circular {
    width: 25px;
    height: 25px;
    position: unset;
    font-size: 12px;
    color: black;
    background-color: #e3e6e8;
    cursor: pointer;
  }
}
.task_right_drawer_ui_body_user_add {
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  color: #252525;
  margin-right: 10px;
  span {
    color: #3786ee;
  }
}
.task_right_drawer_ui_body_user_add_date {
  font-weight: 600;
  font-size: 12px;
  color: #949494;
  text-transform: capitalize;
}
.task_right_drawer_ui_body_created {
  display: flex;
  margin-top: 1rem;
  p {
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #949494;
  }
  span {
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    color: #252525;
  }
}
.task_right_drawer_ui_body_created2 {
  display: flex;
  margin-top: 1rem;
  p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #949494;
  }
  span {
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    color: #252525;
  }
}
.task_right_drawer_ui_body_Progress {
  color: #1a7fdd !important;
}
.task_right_drawer_ui_body_Priority {
  width: 54px;
  display: flex;
  height: 24px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  span {
    color: white;
  }
}
.task_right_drawer_ui_body_Dependency {
  display: flex;
  align-items: center;
  p {
    margin-left: 0;
    font-weight: 600;
    font-size: 12px;
    color: #949494;
    margin-right: 10px;
  }
}
.task_right_drawer_ui_body_Dependency_show {
  margin-top: 1.5rem;
}
.task_right_drawer_ui_body_Dependency_show_text {
  margin-top: 1.5rem;
}
.task_right_drawer_ui_body_Dependency_select {
  margin-bottom: 10px;
  p {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #949494;
  }
  select {
    width: 50%;
  }
}
.task_right_drawer_ui_body_description {
  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: #252525;
    margin-bottom: 1rem;
    svg {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

.task_right_drawer_ui_body_description_text {
  border: 1px solid #949494;
  border-radius: 10px;
  letter-spacing: 0.6px;
  padding: 10px 13px;
  text-align: justify;
  font-size: 14px;
}
.task_right_drawer_ui_body_Subtasks_input_div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  input {
    width: 50%;
  }
  svg {
    font-size: 22px;
    margin-left: 10px;
    color: #252525;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: #1a7fdd;
    }
  }
}
.text_button {
  background-color: transparent;
  outline: none;
  color: #1a7fdd;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  svg {
    font-size: 20px;
    margin-right: 5px;
  }
}
// Task Right Drawer Ui end
