@import "../--mixing.scss";
@import "../--var.scss";
@media (max-width: 576px) {
  .task_right_drawer_ui_body_Subtasks_input_div {
    input {
      width: 90%;
    }
  }
  .task_right_drawer_ui_body_created2 {
    display: block;
  }
  .task_right_drawer_ui_body_created {
    display: block;
  }
  .task_right_drawer_ui_body_user_add {
    margin-top: 5px;
  }
  .task_right_drawer_ui_body_user_add_date {
    margin-top: 5px;
  }
  .task_right_drawer_ui_body_user {
    position: relative;
    top: unset;
    right: unset;
  }
  .task_right_drawer_ui_body_project_title {
    p {
      font-size: 16px;
    }
  }
  .task_right_drawer_ui_body_Dependency_select {
    select {
      width: 100%;
    }
  }
  .task_right_drawer_ui_main_div {
    width: 100%;
  }
  .team_members_ui_modal {
    width: 95%;
  }
  .poll_settings_div_modal {
    width: 95% !important;
  }
  .create_poll_modal_top_div {
    border-right: unset;
    padding-right: 15px !important;
  }
  .create_poll_modal {
    width: 95%;
    height: 40rem;
    margin-top: 0rem;
    overflow: scroll;
    padding-bottom: 2rem !important;
  }
  .filter_new_top_div_inner {
    width: 17rem;
    span {
      font-size: 15px;
    }
  }
  .all_user_page {
    .view_change_label {
      span {
        display: block;
      }
    }
  }
  .team_list_box {
    width: 100%;
  }
  .user_card_div {
    width: 100%;
    overflow: scroll;
  }
  .Project_list_card_time {
    padding: 5px 4px;
    font-size: 10px;
    right: 7px;
    top: 10px;
    span {
      svg {
        font-size: 15px;
        margin-right: 1px;
      }
    }
  }
  .Project_list_card_progress {
    p {
      font-size: 13px;
    }
  }
  .Project_list_card_progress {
    .progress {
      height: 15px;
    }
  }
  .Project_list_card_inner_card_div {
    justify-content: center;
    .project_details_card_box {
      width: 7rem;
    }
  }
  .Project_list_card_inner_img_div {
    justify-content: center;
  }
  .Project_list_card_inner_img_top_div {
    margin-top: 1rem;
  }
  .Project_list_card_img_div {
    top: 0;
  }
  .Project_list_card_title {
    text-align: center;
  }
  .client_tasks_div {
    position: relative;

    .management_btn_full {
      position: absolute;
      width: 61%;
      right: -8px;
      top: -4px;
      text-align: center;
    }
  }
  new .clint_profile_card_poits_mob {
    justify-content: end;
  }
  .clint_profile_card_poits {
    align-items: baseline;
    margin-bottom: 5px;
    p {
      font-size: 9px;
    }
  }
  .clint_profile_card_text {
    margin-top: 1rem;
    text-align: center;
  }
  .clint_profile_card_img {
    text-align: center;
  }
  .notes_warning {
    position: relative;
    right: 0;
    margin-left: 2rem;
  }
  .blue_btn_top_div {
    a {
      width: 100%;
      display: block;
      text-align: center;
      padding: 10px 20px;
    }
  }
  .filter_btn_top_div {
    .management_btn_outline_with_icon {
      width: 100%;
    }
  }
  .view_all_tasks_title_div {
    position: relative;
    a {
      position: absolute;
      top: -31px;
      right: 0;
    }
  }
  .view_all_tasks_title_div {
    p {
      font-size: 15px;
    }
  }
  .classic_view_inner_body {
    padding: 0px 10px 10px 10px !important;
  }
  .classic_view_outer {
    .classic_view_outer_body {
      padding: 0px;
    }
  }
  .view_change_main_div {
    .css-1s2u09g-control {
      min-height: 37px;
    }
  }
  .view_change_label {
    span {
      display: none;
    }
  }
  .view_change_main_div {
    top: -62px;
    right: 48px;
  }
  .project_list_tabs_inner_btn {
    .management_btn_outline_with_icon {
      padding: 10px 10px;
      span {
        display: none;
      }
      svg {
        font-size: 15px;
      }
    }
  }
  .header_my {
    .header_btn {
      .management_btn_full2 {
        width: 50%;
      }
    }
  }
  .project_tab_mb {
    margin-bottom: 3rem;
  }
  .Dashboard_menu_right {
    position: absolute;
    top: 48px;
    right: 1px;
    background-color: white;
    border-radius: 3px;
    padding: 3px 10px;
    .chat_div_dropdown .rs-dropdown-toggle svg,
    .Dashboard_menu_right .chat_div_dropdown .rs-dropdown-toggle.rs-btn svg {
      transform: rotate(90deg);
      font-size: 23px !important;
    }
  }
  .Progress_title_details_white {
    height: auto;
  }
  .team_status_inner_title2 {
    li {
      margin-right: 40px;
    }
  }
  .project_details_card_box {
    span {
      font-size: 11px;
    }
  }
  .Progress_title_details_top {
    position: relative;
  }
  .Progress_title_details {
    position: absolute;
    bottom: -33px;
  }
  .avatar_inner_div {
    margin-top: 10px;
    justify-content: center;
  }
  .inner_mr {
    margin: 0 0;
  }
  .service_overview_details {
    h4 {
      font-size: 11px;
    }
    h5 {
      font-size: 11px;
    }
  }
  .doc_img_main_div .doc_img_main_div_inner {
    svg {
      right: -10px;
      font-size: 14px;
    }
  }
  .documents_app_btn {
    .management_btn_full2 {
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    label {
      span {
        display: none;
      }
    }
  }
  .all_edit_icon .all_edit_icon_inner {
    right: -8px;
    font-size: 13px;
    width: 20px;
    height: 20px;
  }
  .overview_basic_details_div {
    ul {
      li {
        font-weight: 600;
        font-size: 12px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  .circular_static_div {
    span {
      width: 5rem !important;
      height: 5rem !important;
    }
  }
  .team_work_progress {
    display: block;
  }
  .circular_static_div_text {
    h3 {
      display: block;
      font-size: 16px;
    }
    p {
      display: block;
      font-size: 10px;
      margin-bottom: 7px;
    }
  }
  .circular_static_div_main_div {
    justify-content: center;
    margin-top: 1.5rem;
  }
  .circular_static_div_text {
    margin: 0;
  }
  .ProjectDetailsCard_line_mobile {
    display: block;
  }
  .circular_static_div {
    display: block;
    margin-right: 10px;
    .css-ol7wxs-MuiTypography-root {
      width: 90%;
      height: 90%;
      font-size: 15px;
    }
  }
  .project_details_card_box {
    padding: 7px 7px;
    width: 5rem;
    text-align: center;
    margin-right: 5px;
    p {
      font-size: 10px;
    }
  }
  .project_details_card_box_main_div {
    text-align: center;
    display: block;
    .css-1ytufz-MuiAvatarGroup-root {
      justify-content: center;
      margin-top: 18px;
    }
  }
  .project_details_card_name {
    margin-bottom: 10px;
    text-align: center;
    h3 {
      font-size: 19px;
      margin-top: 10px;
    }
  }
  .ProjectDetailsCard_img {
    width: 15rem;
    height: 15rem;
  }
  .img_dashbaord_white_card_new {
    text-align: center;
  }
  .dashbaord_white_card_new {
    padding: 1rem;
  }
  .page_All_top_title {
    h3 {
      font-size: 13px;
    }
  }
  .project_list_name_top_div {
    position: relative;
    .today_meetings_btn_div {
      position: absolute;
      top: 0;
      right: 5px;
      .management_btn_outline {
        padding: 4px 10px;
      }
    }
  }
  .milestones_emp {
    margin-left: unset;
  }
  .projec_tabelt_list_pagination_div {
    ul {
      li {
        button {
          min-width: 25px;
          height: 25px;
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }
  }
  .progress_all_tabel_tabel {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }
  .progress_all_tabel {
    .progress {
      display: none;
    }
  }
  .project_list_tabs_inner_btn {
    top: -62px;
  }
  .project_list_tabs_main_div {
    .nav-pills .nav-link {
      width: 13rem;
      text-align: center;
    }
    .nav {
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
    }
  }

  .welcome_note_btn_div {
    .management_btn_full2 {
      font-size: 12px;
      width: 100px;
      position: absolute;
      top: 0;
      right: 10px;
      padding: 8px 8px;
    }
  }
  .project_summary_title {
    h3 {
      font-size: 16px;
    }
  }
  .project_list_progress {
    width: 13rem;
    margin-top: 7px;
    .progress {
      width: 10rem;
    }
    span {
      position: absolute;
      top: -10px;
      right: 50px;
    }
  }
  .project_tabel {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }
  .CreateBenchmark_brn {
    button {
      width: 50%;
    }
  }
  .SavedBenchmark_btn {
    button {
      width: 50%;
    }
  }
  .select_team_leaders_CheckBox_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Select_Services_row_new {
    border: 2px solid #e6dede;
    padding: 20px 0px;
    border-radius: 8px;
    padding-top: 13px;
    width: 98%;
  }
  .Select_Services_row_new_inner_top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem !important;
  }

  .Select_Services_row_new_inner {
    position: absolute;
    top: -17px;
    background: white;
    width: 25px;
    left: 20px;
    color: #d6caca;

    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 550;
    }
  }

  .add_Department_btn_div {
    margin-top: 3rem !important;
  }
  .Select_Services_row {
    position: relative;

    .management_btn_outline {
      padding: 10px 20px;
      font-size: 15px;
      width: 94%;
      position: absolute;
      left: 0;
      margin-top: 10px;
      margin-left: 12px;
    }
  }
  .management_btn_outline {
    font-size: 11px;
  }
  .Client_Profile_title {
    display: block;
    text-align: center;
  }
  .Client_Profile_main_top_div {
    display: none;
  }
  .Client_Profile_svg {
    svg {
      margin-left: 25px;
      top: 3px;
    }
    label {
      display: none;
    }
  }
  .Client_Profile_svg_last_text {
    display: none;
  }

  .welcome_note_mobile {
    position: absolute;
    right: 0;
    top: 0;
  }
  .management_btn_full {
    font-size: 11px;
  }
  .welcome_note_div {
    h3 {
      font-size: 17px;
      margin-bottom: 4px;
    }
  }
}
@media (min-width: 768px) {
  .task_right_drawer_ui_main_div {
    width: 40rem;
  }
  .create_poll_modal {
    width: 90%;
  }
  .notes_warning {
    position: relative;
    right: 0;
    margin-left: 2rem;
  }
  .filter_btn_top_div {
    .management_btn_outline_with_icon {
      width: 20%;
    }
  }
  .view_all_tasks_title_div {
    p {
      font-size: 13px;
    }
  }
  .view_change_main_div {
    .css-1s2u09g-control {
      min-height: 37px;
    }
  }
  // .view_change_label {
  //   span {
  //     display: none;
  //   }
  // }
  .view_change_main_div {
    top: -60px;
    right: 48px;
  }
  .project_list_tabs_inner_btn {
    .management_btn_outline_with_icon {
      padding: 10px 10px;
      span {
        display: none;
      }
      svg {
        font-size: 15px;
      }
    }
  }
  .header_my {
    .header_btn {
      .management_btn_full2 {
        width: 70%;
      }
    }
  }
  .Dashboard_menu_right {
    position: absolute;
    top: 46px;
    right: 1px;
    background-color: white;
    border-radius: 3px;
    padding: 3px 10px;
    .chat_div_dropdown .rs-dropdown-toggle svg,
    .Dashboard_menu_right .chat_div_dropdown .rs-dropdown-toggle.rs-btn svg {
      transform: rotate(0deg);
    }
  }
  .project_tab_mb {
    margin-bottom: 3rem;
  }
  .avatar_inner_div {
    margin-top: 10px;
  }
  .ProjectDetailsCard_line_mobile {
    display: none;
  }
  .circular_static_div_text {
    h3 {
      display: none;
    }
    p {
      display: none;
    }
    button {
      position: absolute;
      top: 22px;
      right: 20px;
      width: 9rem;
    }
  }
  .circular_static_div {
    display: block;
    position: absolute;
    top: 48%;
    right: 8%;
    span {
      width: 4rem !important;
      height: 4rem !important;
    }
  }
  .project_details_card_box_main_div {
    display: block;
    .css-1ytufz-MuiAvatarGroup-root {
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
  .project_details_card_name {
    margin-bottom: 10px;
  }
  .progress_all_tabel_tabel {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }
  .progress_all_tabel {
    .progress {
      display: none;
    }
  }
  .project_list_tabs_inner_btn {
    top: -60px;
  }
  .project_list_tabs_main_div {
    .nav-pills .nav-link {
      width: 13rem;
      text-align: center;
    }
    .nav {
      overflow-x: scroll;
      width: 100%;
      flex-wrap: nowrap;
    }
  }
  .project_list_progress {
    width: 13rem;
  }
}
@media (min-width: 1024px) {
  .task_right_drawer_ui_main_div {
    width: 50rem;
  }
  .create_poll_modal {
    width: 80%;
  }
  .notes_warning {
    position: absolute;
    right: 13%;
    margin-left: 2rem;
  }
  .filter_btn_top_div {
    .management_btn_outline_with_icon {
      width: 14%;
      position: relative;
    }
  }
  .view_all_tasks_title_div {
    p {
      font-size: 24px;
    }
  }
  .view_change_main_div {
    .css-1s2u09g-control {
      min-height: 42px;
    }
  }
  .view_change_label {
    span {
      display: block;
    }
  }

  .view_change_main_div {
    top: 3px;
    right: 136px;
  }
  .project_list_tabs_inner_btn {
    .management_btn_outline_with_icon {
      padding: 10px 20px;
      span {
        display: block;
      }
      svg {
        font-size: 20px;
      }
    }
  }
  .header_my {
    .header_btn {
      .management_btn_full2 {
        width: 50%;
      }
    }
  }
  .Dashboard_menu_right {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  .project_tab_mb {
    margin-bottom: 1.5rem;
  }
  .avatar_inner_div {
    margin-top: 0;
  }
  .circular_static_div_text {
    h3 {
      display: block;
    }
    p {
      display: block;
    }
    button {
      position: relative;
    }
  }
  .project_details_card_box_main_div {
    display: flex;
    .css-1ytufz-MuiAvatarGroup-root {
      justify-content: unset;
      margin-top: unset;
    }
  }
  .circular_static_div_text {
    margin: 0 11px;
  }
  .circular_static_div {
    position: absolute;
    top: 10px;
    right: 50%;
    span {
      width: 5rem !important;
      height: 5rem !important;
    }
  }
  .ProjectDetailsCard_img {
    width: 9rem;
    height: 9rem;
  }
  .project_details_card_box {
    padding: 7px 12px;
  }
  .project_details_card_name {
    margin-bottom: 2.4rem;
  }
  .progress_all_tabel_tabel {
    display: inline-table;
  }
  .progress_all_tabel {
    .progress {
      display: flex;
    }
  }
  .project_list_tabs_inner_btn {
    top: 0px;
  }
  .project_list_tabs_main_div {
    .nav-pills .nav-link {
      width: unset;
    }
    .nav {
      overflow-x: unset;
      width: 100%;
      flex-wrap: wrap;
    }
  }
  .project_list_progress {
    width: 7rem;
  }
}
@media (min-width: 1440px) {
  .create_poll_modal {
    width: 50%;
  }
  .filter_btn_top_div {
    .management_btn_outline_with_icon {
      width: 12%;
    }
  }
  .header_my {
    .header_btn {
      .management_btn_full2 {
        width: 35%;
      }
    }
  }
  .circular_static_div_text {
    margin: 0 20px;
  }
  .ProjectDetailsCard_img {
    width: 10rem;
    height: 10rem;
  }
  .project_details_card_box {
    padding: 7px 13px;
  }
  .project_details_card_name {
    margin-bottom: 3.4rem;
  }
  .project_list_progress {
    width: 13rem;
  }
  .circular_static_div {
    position: relative;
    top: unset;
    right: unset;
    span {
      width: 7rem !important;
      height: 7rem !important;
    }
  }
}
